body {
    background-color: bisque;
    border-color: darkgreen;
    border: width 1dv;

}
h1 {
color:blue;
text-align: center;

}
H2 {
    color: cornflowerblue;
    text-align: center;



}
Main{


}
p{
    

}
ol {


}
li{


}
